.woocommerce-checkout {
  opacity: 1;

  .input-text {
    @extend .text;

    @include cssLock("padding", 360, 1920, (6, 12));

    border: 0;
    border-bottom: 1px solid color("greyy");
    background: transparent;
    padding-left: 0;
  }

  select {
    @extend .text;

    @include cssLock("padding", 360, 1920, (6, 12));

    margin-bottom: $gutter !important;
  }

  .wc_payment_methods {
    label {
      display: flex;
    }

    img {
      width: auto;
    }
  }

  .place-order {
    a {
      color: color("special");
    }

    button {
      @extend .subtitle;
      @extend .bold;
      @extend .button;

      @include cssLock("padding-top", 360, 1920, (12, 24));
      @include cssLock("padding-bottom", 360, 1920, (12, 24));
      @include cssLock("padding-left", 360, 1920, (24, 48));
      @include cssLock("padding-right", 360, 1920, (24, 48));

      background: color("light") !important;
      color: color("special") !important;
      text-align: left;
      display: inline-block;

      &:hover {
        color: color("light") !important;
        background: color("special") !important;
      }
    }
  }
}

.woocommerce ul.order_details {
  padding-left: 0 !important;

  li {
    margin-bottom: 0.3rem;
  }
}

address {
  border: 0 !important;
  padding: 0 !important;

  p {
    margin: 0 !important;
    padding: 0 !important;
  }
}
