.form {
  $root: &;

  display: flex;
  justify-content: center;
  align-items: center;

  &__input-wrapper {
    position: relative;
    border-radius: $gutter * 5;
    display: flex;
    color: color("greyy");
    border: 1px solid;
    overflow: hidden;
    transition-property: opacity, max-height;
    transition-duration: $transition, $transition;
    transition-delay: 0s, $transition;
    max-height: $gutter * 10;
  }

  &__checkbox-wrapper {
    @include cssLock("margin-top", 360, 1920, (12, 24));

    transition-property: opacity, max-height;
    transition-duration: $transition, $transition;
    transition-delay: 0s, $transition;
    max-height: $gutter * 10;
  }

  &__input {
    @extend .text;

    @include cssLock("padding", 360, 1920, (12, 24));

    border: 0;
    color: color("greyy");
    background-color: transparent !important;
    width: 100%;
  }

  &__alert {
    opacity: 0;
    max-height: 0;
    transition: $transition;
  }

  &__button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &.-succes {
    #{$root}__input-wrapper,
    #{$root}__checkbox-wrapper {
      opacity: 0;
      max-height: 0;
    }

    #{$root}__alert {
      &--succes {
        opacity: 1;
        max-height: $gutter * 10;
      }
    }
  }

  &.-fail {
    #{$root}__input-wrapper,
    #{$root}__checkbox-wrapper {
      opacity: 0;
      max-height: 0;
    }

    #{$root}__alert {
      &--fail {
        opacity: 1;
        max-height: $gutter * 10;
      }
    }
  }
}
