.icon {
  @include cssLock("width", 360, 1440, (30, 50));
  @include cssLock("height", 360, 1440, (30, 50));

  display: block;
  border-radius: 100%;
  position: relative;
  transition: $transition;
  cursor: pointer;
  border: none;

  &--plus {
    &::before,
    &::after {
      content: "";
      width: 2px;
      height: 40%;
      background: color("light");
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      transition: $transition;
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover {
      transform: rotate(180deg);
    }

    &.-is-open {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  &--x {
    @extend .icon--plus;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }
  }

  &--arrow-down {
    &::before {
      content: "";
      width: 30%;
      height: 30%;
      position: absolute;
      border: 2px solid color("light");
      border-left: 0;
      border-top: 0;
      top: 0;
      left: 0;
      bottom: 15%;
      right: 0;
      margin: auto;
      transform: rotate(45deg);
    }

    &:hover {
      &::before {
        animation: arrow-down ($transition * 3) ease-in-out both infinite;
      }
    }
  }

  &--dark {
    background: color("dark");
  }

  &--special {
    background: color("special");
  }

  &--dark-line {
    &::before,
    &::after {
      background: color("dark");
    }
  }
}

@keyframes arrow-down {
  0% {
    top: -$gutter;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    top: $gutter;
    opacity: 0;
  }
}
