.icon-nav {
  $root: &;

  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  &__elem {
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__icon {
    @include cssLock("width", 360, 1920, (36, 50));
    @include cssLock("height", 360, 1920, (36, 50));

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    &--basket {
      background: color("dark");
      position: relative;

      #{$root}__img {
        position: relative;
        top: -$gutter * 0.1;
        filter: invert(0) !important;
      }
    }
  }

  &__img {
    @include cssLock("width", 360, 1920, (12, 24));

    filter: invert(1);
  }

  &__count {
    @include cssLock("width", 360, 1920, (12, 24));
    @include cssLock("height", 360, 1920, (12, 24));
    @include cssLock("top", 360, 1920, (-6, -12));
    @include cssLock("font-size", 360, 1920, (6, 12));

    position: absolute;
    right: 0;
    background: color("light");
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
