.product-details {
  @include cssLock("padding-top", 360, 1920, (50, 100));
  @include cssLock("padding-left", 360, 1920, (25, 50));
  @include cssLock("padding-right", 360, 1920, (25, 50));

  &__header {
    margin-bottom: 0;
  }

  &__description {
    @include cssLock("margin-bottom", 360, 1920, (12, 24));

    max-width: $gutter * 45;
  }

  &__attributes {
    @include cssLock("margin-bottom", 360, 1920, (24, 48));
  }

  &__colors {
    @include cssLock("margin-bottom", 360, 1920, (12, 24));
  }

  &__title {
    @include cssLock("margin-bottom", 360, 1920, (24, 36));

    position: relative;
  }

  &__attribute {
    @include cssLock("bottom", 360, 1920, (-12, -18));

    position: absolute;
    left: 0;
    color: color(greyy);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* WC Classes */

  .single_variation_wrap {
    display: flex;
    justify-content: space-between;

    button.single_add_to_cart_button {
      @extend .button;
    }
  }

  .variations {
    @include cssLock("margin-bottom", 360, 1920, (24, 36));

    width: 100%;

    tbody {
      @include cssLock("grid-gap", 360, 1920, (12, 24));

      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      @include media(xs) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    tr {
      display: flex;
      flex-direction: column;
    }

    select {
      padding: $gutter;
      width: 100%;
    }

    label {
      @extend .attributes__title;
      @extend .text;
      @extend .text--small;
      @extend .bold;

      display: block;
    }
  }
}
