.footer {
  @include cssLock("padding-top", 360, 1920, (50, 100));

  background: color("special");
  text-align: center;

  &__header {
    @include cssLock("margin-bottom", 360, 1920, (25, 50));
  }

  &__content {
    @include cssLock("margin-bottom", 360, 1920, (50, 100));
  }

  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;

    li {
      @extend .text;

      @include cssLock("padding", 360, 1920, (12, 24));

      transition: $transition;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
