.hero {
  background: color("dark");
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    margin-bottom: $gutter * 4;
    text-align: center;
    z-index: 10;
    position: relative;
    text-transform: uppercase;
    color: color("light");
  }

  &__products {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 10;
    position: relative;
    align-items: center;

    li {
      position: relative;

      &:nth-child(2) {
        margin: 0 ($gutter * 3);
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
    height: 100% !important;
  }
}
