.post-content {
  max-width: 100%;
  width: auto;
  margin: 0 auto;

  @include cssLock("padding-left", 360, 1920, (25, 100));
  @include cssLock("padding-right", 360, 1920, (25, 100));

  @include media(sm) {
    width: 50vw;
    min-width: $gutter * 70;
  }

  .wp-block-image {
    margin: 0;
  }

  .has-2-columns {
    @extend .flex;

    @include cssLock("padding", 360, 1920, (25, 50));

    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    @extend .title;
    @extend .bold;

    @include cssLock("margin-bottom", 360, 1920, (25, 50));
    @include cssLock("margin-top", 360, 1920, (25, 50));

    max-width: $gutter * 60;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    @extend .subtitle;

    @include cssLock("margin-bottom", 360, 1920, (25, 50));

    max-width: $gutter * 60;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-block-column {
    @extend .flex__col;

    margin: 0;

    .wp-block-image,
    img {
      @extend .flex__image;
    }

    h2 {
      margin-top: 0;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .wp-block-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gutter;
  }

  .blocks-gallery-item {
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;

    figure {
      @extend %image;
    }

    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    &:nth-child(3) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &:nth-child(4) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &:nth-child(5) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    &:nth-child(6) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 7;
    }

    &:nth-child(9) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  a {
    color: color("special");
  }
}
