.shop {
  @include cssLock("padding-left", 360, 1920, (25, 50));
  @include cssLock("padding-right", 360, 1920, (25, 50));
  @include cssLock("padding-bottom", 360, 1920, (25, 50));

  &__header {
    @include cssLock("padding-top", 360, 1920, (10, 25));
    @include cssLock("margin-bottom", 360, 1920, (20, 50));
  }

  &__content {
    opacity: 1;
    transition: $transition;

    &.-is-loading {
      opacity: 0;
    }
  }
}
