.sidebar {
  @include cssLock("left", 360, 1920, (25, 100));

  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: z-index("sidebar");

  @include media(md) {
    display: flex;
  }
}
