.sidebar {
  @include cssLock("padding-left", 360, 1920, (25, 100));
  @include cssLock("padding-right", 360, 1920, (25, 100));

  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: z-index("sidebar");
  background: color("light");

  &.-is-active {
    background: color("light") !important;
    background: color("dark") !important;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  @include media(md) {
    display: inline-flex;
  }
}
